.DS_Store

.gitignore
.github/
data/mimic-iii-clinical-database-demo-1.4/
data/physionet.org/
final-instructions/
proposal-template/

demo/results/*.RData

project/*.aux
project/*.log
project/*.out
project/*.synctex.gz
project/final-project.synctex.gz

all-tex
all-tex/data-dict-tex/
project/instructions/
temp/

consider.md
ref.md
